.app {
  background-color: #282c34;
  min-height: 100vh;
  padding-bottom: 50px;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 40vmin;
  width: 300px;
}

.app-header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;

  h1 {
    margin: 0;
  }
}

.app-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;

  .app-instructions {
    width: calc(60% - 40px);
    min-width: 400px;
    padding: 20px;
    font-size: 22px;
    line-height: 32px;
    height: 550px;

    code {
      background-color: #ddd;
      color: #333;
      margin: 0 5px;
      padding: 0 5px;
    }

    a {
      color: #61d9fa;
    }

    @media (max-width: 767px) {
      width: 100%;
      height: inherit;
    }
  }

  .app-forms {
    width: 40%;
    min-width: 300px;
    min-height: 300px;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    button {
      width: 100%;
      margin: 10px 0;
      background-color: #29a645;
      border: none;
      color: #fff;
    }
  }
}

.app-links {
  display: flex;
  justify-content: center;

  button {
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    border-right: 2px solid #fff;
  }

  button:last-child {
    border-right: none;
  }
}

.app-success {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;

  small {
    display: block;
    margin-top: 8px;
  }

  button {
    margin-top: 30px;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
