@import './colors.scss';
@import './utils.scss';

@import './forms/forms.scss';
@import './forms/buttons.scss';
@import './forms/inputs.scss';
@import './forms/input-wrapper.scss';
@import './components/loading.scss';

@import './app.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
